
<div class="d-flex flex-row align-items-center justify-content-between">
    <h2 class="">produits</h2>
    <div class="">
        <button routerLink="/produits/add"class="btn btn-success">Ajouter Produit</button>
    </div>
    <div class="">
        <button (click)="getExcel()" class="btn btn-outline-success">Excel</button>
    </div> 
    <div class="">
        <button (click)="getPDF()" class="btn btn-outline-danger">PDF</button>
    </div>
</div>
<hr>

<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex flex-row justify-content-between border-0">
        <p class="font-weight-bold"><strong>Nom</strong></p>
        <p class="font-weight-bold"><strong>Quantité</strong></p>
        
        <div class="d-flex flex-row justify-content-around">
        </div>
    </li>
    <li *ngFor="let prod of produitList" class="list-group-item d-flex flex-row justify-content-stretch">
        <div class="flex-fill"> 
            <span>{{prod.nom}}</span>
        </div>  
        <div class="flex-fill d-flex justify-content-end"> 
            <span class="">{{prod.qt}}</span>
        </div> 
        <div class="flex-fill d-flex flex-row justify-content-end">    
            <div class="">
                <button [routerLink]="prod.idProduit" class="btn btn-warning">
                    <i class="bi bi-info-circle"></i>
                </button>
            </div>
            <div class="ms-2">
                <button [routerLink]="'edit/'+prod.idProduit" class="btn btn-primary">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
            <div class="ms-2">
                <button (click)="deleteProduit(prod.idProduit)" class="btn btn-danger">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        </div>
    </li>
</ul>