<div class="container px-3 d-flex flex-column">

    <div class="col h2">Produit "{{produit.nom | titlecase}}" details</div>
    <hr>
    <div class="row">
        <span class="col"><strong>Nom : </strong></span>
        <span class="col">{{produit.nom}}</span>
    </div>
    <hr>
    <div class="row">
        <span class="col"><strong>Quantité : </strong></span>
        <span class="col">{{produit.qt}}</span>
    </div>
    <hr>
    <div class="row">
        <span class="col"><strong>Disponibilité : </strong></span>
        <span class="col">{{produit.disponible | disponible | titlecase}}</span>
    </div>
    <hr>
    <div class="row">
        <span class="col"><strong>Date de création : </strong></span>
        <span class="col">{{produit.dateCreation}}</span>
    </div>
    <hr>
    <div class="row">
        <span class="col"><strong>Date de modification : </strong></span>
        <span class="col">{{produit.dateModif}}</span>
    </div>
    <hr>
    <div class="row">
        <span class="col"><strong>Catégorie : </strong></span>
        <span class="col">{{produit.categorie.nom}}</span>
    </div>
</div>