<div class="container px-3 d-flex flex-column">

    <div class="col h2">Produit "nom_cat" details</div>
    <hr>
    <div class="row">
        <span class="col"><strong>Nom : </strong></span>
        <span class="col">nom_prod</span>
    </div>
    <div class="row">
        <span class="col"><strong>Quantité : </strong></span>
        <span class="col">quantité_num</span>
    </div>
    <div class="row">
        <span class="col"><strong>Disponibilité : </strong></span>
        <span class="col">true or false</span>
    </div>
    <div class="row">
        <span class="col"><strong>Date de création : </strong></span>
        <span class="col">creation_date</span>
    </div>
    <div class="row">
        <span class="col"><strong>Date de modification : </strong></span>
        <span class="col">Modification_date</span>
    </div>
    <div class="row">
        <span class="col"><strong>Catégorie : </strong></span>
        <span class="col">Catégorie_nom</span>
    </div>
</div>